@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #000;
    color:#fff;
    margin:0px;
    padding:0px;
}

header {
    position:sticky;
    top:0px;
    left:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 900;
}

header h1 {
    margin: 0px;
    margin-left:1rem;
    padding:0.5rem 1rem;
    text-align: center;
    font-size: 1.5rem;
}

header nav ul {
    display:flex;
    flex-direction: column;
    list-style: none;
    margin:0px;
    padding:0px;
}

header nav ul li a{
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: #ddd;
    transition: background-color 1s ease;
    border-bottom: 1px solid #bbb;
}

header nav ul li a:hover{
    background-color: #eee;
    color:#333
}


main {
    background-color: #ddd;
    color:#333;
    padding:0;
}

main h2 {
    margin:0.2px;
}

.hero-panel {
    position:relative;
    overflow: hidden;
    background-color:#21890c;
    height: 80vh;
}

.hero-panel img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.hero-panel div {
    display: flex;
    flex-direction: column;
    position:absolute;
    top:50%;
    left:50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 17px;
    transform: translateX(-50%) translateY(-50%);
}
.hero-panel div a{
    align-self: center;
    display:inline-block;
    padding:1rem 2rem;
    border: 1px solid #134e07;
    background-color: #21890c;
    color: #fff;
    text-decoration: none;
    margin: 0.5rem auto;
    box-shadow: 3px 3px 5px #000;
    border-radius: 48px;
}
.hero-panel div.cuadrante4{
    top:75%;
    left:75%;
}
.hero-panel div.cuadrante2{
    top:25%;
    left:75%;
}

.Precios {
    padding:0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.card {
    position: relative;
    border: 1px solid #000;
    width: 300px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 13px;
}
.card img {
    width:100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}
.card h3, .card p {
    margin:0px;
    padding:0.5rem;
}
.card p {
    font-size: 0.8rem;
}
.card a{
    display: block;
    text-decoration: none;
    padding: 0.75rem 0.5rem;
    text-align: center;
    background-color: #21890c;
    color: #333;
    font-weight: bold;
}
.card .precio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 200px;
    right:1rem;
    background-color: darkorange;
    transform: translateY(-50%);
    font-weight: bold;
    box-shadow: 1px 1px 10px #a05800;
}

.card.highlighted {
    background-color: #21890c;
}

.card.highlighted a {
    background-color: #a05800;
}

@media (min-width:720px){
    body {
        background-color: #134e07;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        padding:0px;
        text-align: left;
    }

    header nav ul {
        flex-direction: row;
        margin-right: 1rem;
    }

    header nav ul li a{
        border:none;
    }

    .Precios {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 1.5rem;
    }

    .Precios .card:nth-child(1),
    .Precios .card:nth-child(3){
        transform: scale(0.8) translateY(10%);
    }

    .Precios .card:hover{
        transform: scale(1.1);
    }

}
@media (min-width:1025px){
    body {
        background-color: #651900;
    }
}

.full-progress {
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index: 1000;
    background-color: rgba(0,0,0, 0.8);
    display:flex;
    justify-content: center;
    align-items: center;
}
.progress {
    width: 64px;
    height: 64px;
    border:solid 8px #095502;
    border-bottom: dotted 8px #ce4141;
    border-radius: 50%;
    animation: rotar 1s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress_outer {
    width: 90px;
    height: 90px;
    border:solid 8px #f0aa53;
    position: absolute;
    border-bottom: dotted 8px #ce4141;
    border-radius: 50%;
    animation: rotar 2s infinite;
    animation-direction: reverse;
    animation-delay: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotar{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}