.slider {
    position:relative;
    width:100vw;
    height:80vh;
    overflow: hidden;
}

.slider .framestrack{
    position:relative;
    top:0px;
    left:0px;
    height:80vh;
    display: flex;
    flex-direction: row;
    transition: left 0.5s ease-in-out;
}

.slider .framestrack .slide{
    position:relative;
    flex: 0 0 100%;
    width:100vw;
    height:80vh;
}

.slider .framestrack .slide img{
    position: absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:80vh;
    object-fit: cover;
    object-position: center center;
}

.slider .framestrack .slide .action{
    position: absolute;
    max-width:380px;
    padding:2rem;
    background-color: rgba(255,255,255,0.8);
    border-radius: 17px;
    box-shadow: 3px 3px 5px #000;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}